<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
        }

        .important-text {
            color: #e44d26;
            font-weight: bold;
        }
        .closing {
            font-style: italic;
            color: #333;
            line-height: 0.9;
        }
        .last{
            margin-top: 35px;
            color: #555;
            opacity: 0.5;
        }
    </style>
</head>
<body>
    <p>Dear Sir,</p>

    <p>We received a request to change the password for your account at <span class="important-text"></span>Guest Room Booking Portal, Hall 3</span>.</p>

    <p>To complete the process, kindly use the following <span class="important-text">One-Time Password (OTP): {{otp}}</span></p>

    <p>Please be aware that this OTP is system-generated and is <span class="important-text">valid for the next 10 minutes</span>. Following this period, the OTP will expire, and a new one will need to be generated.</p>

    <p><span class="important-text">OTP: {{otp}}</span></p>


    <p>Best regards,</p>
    <p><span class="closing">{{name}} <br>{{position}}<br>Hall Executive Committee<br>Hall of Residence 3</span></p>


    <p class="last">Please note that this is an automated email, and responses to this email will not be monitored.</p>


</body>
</html>
